.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 620px;
    padding-top: 50px;
   
}
/* html
{
    min-width: 100%;
    min-height: 100%;
} */
